body {
  margin: 0;
}

button {
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
}

.checkbox-wrapper {
  position: relative;
  height: 22px;

  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: absolute;
  }

  .checked {
    background-color: black;
  }

  .title {
    margin-left: 30px;
    cursor: pointer;
  }
}

.styled-box {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}